 /*     ######################################      body     ##########################################     */
 :root {
    --firstColor: #ffffff;
    --secondColor: #eae6e4;
    --boxShadow: 3px 3px 3px gray;
    --boxShadowMini: 1px 1px 3px gray;

    --boxShadowHover: 1px 1px 1px gray;
    --boxShadowHoverMini: 0px 0px 3px gray;
    --bgButtonface: buttonface;
}
body {
    background: var(--secondColor);
}
.container {    
    display: grid;
    min-height: 100vh;
    grid-template-rows: 60px 1fr 200px;   
    max-width: 1000px;
    margin: auto; 
    background: var(--firstColor);    
}

/*     ######################################      header    ##########################################     */
header {
    display: grid;
    align-content: center;
    border-bottom: 2px solid gray;
    box-shadow: var(--boxShadow);  
    max-width: 1000px;
}
header > div{
    display: grid;
    grid-template-columns: 160px 1fr 120px;
    align-content: center;
    gap: 15px;
    padding: 10px 20px;
}
.logo {
    height: 40px;
    align-content: center;
    display: grid;
    grid-template-columns: 40px 1fr;
    margin: auto 0;
}
.logo > :nth-child(1) {
    height: 35px;
    width: 35px;
}
.logo > :nth-child(2) {
    height: 20px;
    width: 100px;
    margin: auto 5px;
}
#searchProduct {
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
}
.headerBtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 10px;
}
.headerBtn > a {
    display: block;
    height: 30px;
    width: 30px;
}
#shopping_cart {
    display: block;
    height: 30px;
    width: 30px;            
    background: url(../img/shopping-trolley--v2.png);
    background-size: 100% 100%;
    transition: .3s;
}
#shopping_cart:hover {
    background: url(../img/shopping-trolley--v3.png);
    background-size: 100% 100%;
}
#favorites {
    display: block;
    height: 30px;
    width: 30px;            
    background: url(../img/hearts.png);
    background-size: 100% 100%;
    transition: .3s;
}
#favorites:hover {
    background: url(../img/hearts\ \(1\).png);
    background-size: 100% 100%;
}
#guest {
    display: block;
    height: 30px;
    width: 30px;            
    background: url(../img/guest-male--v1.png);
    background-size: 100% 100%;
    transition: .3s;
}
#guest:hover {
    background: url(../img/guest-male--v2.png);
    background-size: 100% 100%;
}
#modalWindow {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#modalContextMenu {
    position: absolute;
    width: 200px;
    padding: 10px;
    background: white;
    top: 20px;
    display: grid;
    justify-content: center;
    box-shadow: var(--boxShadow);
    border-radius: 15px;
    border: 1px solid gray;
}
#modalContextMenu > div:hover {
    background: var(--secondColor);
    cursor: pointer;
}
#modalContextMenuExitForm > input {
    border: none;
    background: none;
}
#modalContextMenuExitForm :hover {
    background: var(--secondColor);
    cursor: pointer;
}

/*     ######################################      footer    ##########################################     */
footer {
    display: grid;
    align-content: center;
    border-top: 2px solid gray; 
}

footer > :nth-child(1){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    gap: 15px;
    padding: 10px 20px;
    margin: 10px 0;
}
footer > :nth-child(2){
    display: grid;
    justify-content: center;
    margin-top: 20px;
    border-top: 2px solid gray;
    padding-top: 10px;
}
/* стили кнопок соцсетей */
.viber {
    background: url(../img/viber\ \(2\).png);
    display: block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.viber:hover {
    background: url(../img/viber\ \(3\).png);
    background-size: 100% 100%;            /* растянуть рисунок */
    width: 50px;
    height: 50px;
}
.vk {
    background: url(../img/vk-circled.png);
    display: block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.vk:hover {
    background: url(../img/vk-circled\ \(1\).png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}

.telegram {
    background: url(../img/telegram1.png);
    display: block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.telegram:hover {
    background: url(../img/telegram2.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}
.footerCol1, .footerCol2 {
    display: grid;
    gap: 5px;
    text-decoration: none;
}
.footerCol1 > a, .footerCol2 > a {
    color: gray;
}
.footerCol3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 0;
}

/*     ######################################      sidebar    ##########################################     */
.sidebar {
    display: grid;
    align-content: start;
    gap: 10px;
    margin: 15px 0 0 20px;
}
.btnSidebar {
    display: grid;
    grid-template-columns: 30px 1fr;
    background: var(--firstColor);
    border: none;
    justify-items: start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    width: 95%;
}
.btnSidebar:hover {
    box-shadow: 0 0 3px gray;
    color: #888585;
    
}
.btnSidebar > div {
    margin-left: 5px;
}
.sidebarMicroImage {
    height: 20px;
    width: 30px;
}

/*     ######################################      crockery.php    ##########################################     */
.article {
    display: grid;
    grid-template-columns: 200px 1fr;  
    max-width: 1000px;
}
.crockeryContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    padding: 25px;
    gap: 15px;
}
.crockeryProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
    padding: 25px;
    gap: 15px;
}
.crockeryCard {
    justify-self: center;
}
.crockeryImg {
    height: 350px;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    cursor: pointer;
}
.crockeryImg:hover {
    box-shadow: var(--boxShadowHover);
}
.crockeryText {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    font-style: italic;
}
.productDivCrockery {
    display: grid;
    justify-content: center;
}
.dataProductDivCrockery {
    display: grid;
}
.imgProductCrockery {
    display: grid;
    align-content: center;
}
.imgProductCrockery > img {
    height: 200px;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    cursor: pointer;
}
.imgProductCrockery > img:hover {
    box-shadow: var(--boxShadowHover);
}
.crockeryProductFull {
    display: none;
}
.input {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    margin: 5px;
    background: var(--bgButtonface);
}
.input:hover {
    box-shadow: var(--boxShadowHover);
}
.productDivCrockeryFull {
    display: grid;
    grid-template-columns: 1.3fr 1fr 20px;
    margin: 20px auto; 
    gap: 10px;   
}
.imgProductCrockeryFull > img {
    width: 100%;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    cursor: pointer;
}
.imgProductCrockeryFull > img:hover{
    box-shadow: var(--boxShadowHover);
}
.miniImgFullProductDiv {
   display: grid;
   grid-template-columns: 20px 1fr 1fr 1fr 20px; 
   gap: 3px;
}
.miniImgFullProductDiv > img{
   width: 90%;
   box-shadow: var(--boxShadow);
   border-radius: 5px;
   cursor: pointer;
   gap: 5px;
}
.miniImgFullProductDiv > img:hover{
   box-shadow: var(--boxShadowHover);
}
.dataProductDivCrockeryFull {
    display: grid;
    align-content: start;
    gap: 10px;
}
.dataProductDivCrockeryFull > :nth-child(1) {
    font-size: 1.5rem;
}
#contextMenu {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgb(104 102 102 / 84%);
    z-index: 100;
    align-content: center;
    justify-content: center;
}
#closeBtn {
    position: absolute;
    line-height: 22px;
    text-align: center;
    top: 5px;
    right: 25px;
    z-index: 101;
    width: 30px;
    height: 30px;
    border: 2px solid #d4d3d3;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px #ffffff;
    cursor: pointer;
}
#closeBtn:hover {
    box-shadow: 0px 0px 0px #ffffff;
}
.contextMenuImage {
    width: 50vw;                  /*доделать ширину через адаптацию или js*/
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}
.seeStartAndEnd {    
    line-height: 40px;
    text-align: center;
    z-index: 101;
    width: 60px;
    height: 60px;
    border: 4px solid #d4d3d3;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 1px 1px 3px #ffffff;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
}
#rightArrow, #leftArrow {
    line-height: 22px;
    text-align: center;
    width: 20px;
    border-radius: 10px;
    color: gray;
    font-size: 1.5rem;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    align-self: stretch;
    display: grid;
    align-content: center;
    background: var(--bgButtonface);
    border: .5px solid gray;
}
#rightArrow:hover, #leftArrow:hover {
    box-shadow: var(--boxShadowHover);
}
.contextMenuParentDiv {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}
.ImgFullProduct {
    justify-self: center;
}
.dataDivAddToCartBtn{
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    background-color: var(--bgButtonface);
    padding: 3px;
    width: 100%;
    cursor: pointer;
}
.textInfo {
    text-align: right;
    font-size: 90%;
}



/*     ######################################      main.php    ##########################################     */
#mainContent {
    display: grid;
    margin-top: 15px;
}
.mainImgParentDiv {
    display: grid;
    align-content: center;
    justify-content: center;
}
.mainImgParentDiv > img {
    width: 95%;
    justify-self: start;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}
.mainTextDiv_0 {
    width: 95%;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #656565;
}
.mainCardParentDiv {
    width: 95%;
    display: grid;
    gap: 15px;
    margin: 20px 0;
}
.mainCardParentDiv > div {
    display: grid;
}  
.mainCardParentDiv > :nth-child(odd) {
    grid-template-columns: 1.5fr 1fr;
}
.mainCardParentDiv > :nth-child(even) {
    grid-template-columns: 1fr 1.5fr;
}
.mainTextDiv {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #656565;
}
.mainImg {
    width: 100%;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}
.imgOpacity {
    transition: 1.5s;
    opacity: 0;
}

/*     ######################################      signup.php    ##########################################     */
#signupContent {
    display: grid;
    align-content: center;
    justify-content: center;
}
#formSignup {
    display: grid;
    gap: 10px;
    width: 300px;
}
#formSignup > input {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.passwordDiv {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr .1fr;
}
.passwordDiv > input {
    border: none;
    background: none;
    width: 95%;
    height: 100%;
}
#formSignup > a {
    justify-self: center;
}
#formSignup > input:hover {
    box-shadow: 1px 1px 1px gray;
}
#formSignup > .passwordDiv:hover {
    box-shadow: var(--boxShadowHover);
}
.eyeBtn {
    width: 20px;
    overflow: hidden;
    display: grid;
    align-content: center;
}
.eyeBtn > img{
    width: 100%;
}
.capsLock {
    color: green;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
    height: 22px;
}
.capsLock > span {
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
}
#changeAva {   
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    margin: 5px;
}
#changeAva:hover {
    box-shadow: var(--boxShadowHover);
}
/*     ######################################      login.php    ##########################################     */
#formLogin {
    display: grid;
    gap: 10px;
    width: 300px;
}
#formLogin > input {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}

#formLogin > a {
    justify-self: center;
}
#formLogin > input:hover {
    box-shadow: var(--boxShadowHover);
}
#formLogin > .passwordDiv:hover {
    box-shadow: 1px 1px 1px gray;
}
.capsLock {
    color: green;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
    height: 22px;
}
.capsLock > span {
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
}

/*     ######################################      personalAccount.php    ##########################################     */
.personalAccountContent{
    margin-right: 20px;
}
.personalAccountContent > div{
    display: grid;
    grid-template-columns: 150px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto 3px auto;
}
#personalAccountFormSubmit, #backButton, #redactButton, #avaBackButton, #sendModifiedImage, #sendFile{
    width: 100%;
    height: 33px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    margin: 5px 0;
}
#personalAccountFormSubmit:hover, #backButton:hover, #redactButton:hover, #avaBackButton:hover, #sendModifiedImage:hover, #sendFile:hover{
    box-shadow: var(--boxShadowHover);
}
#sendFile {
    display: grid;
    align-content: center;
    justify-content: center;
    background: var(--bgButtonface);
}
.avatarImgPersonalAccount{
    max-width: 300px;
}
#personalAccountForm, #avaForm {
    display: none;
}
#avaForm {
    margin-right: 20px
}
#personalAccountForm > form > div , #personalAccountContent > div {
    padding-left: 15px; 
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
#personalAccountForm > form > div > input {
    border: none;
    background: none;
}
#file1 {
    display: none;
}

/*     ######################################      cart.php    ##########################################     */
.cartProduct {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.cartProductImgDiv img {
    width: 200px;
}
.cartDelProduct {
    width: 20px;
    height: 20px;
    background: url(../img/cart.png);
    background-size: 100%;
}
.cartInfoDiv {
    display: grid;
    grid-template-columns: 1fr 100px;
    padding: 10px;
}
.cartAmountDiv {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    width: 70px;
}
.popupMenuParent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background: #22222257;
    display: grid;
    align-content: center;
    justify-content: center;
}
.popupMenuQuestionImage {
    width: 200px;
    justify-self: center;
    align-self: center;
    padding: 10px;
}
.popupMenu {
    display: grid;
    background: #d2d2d2;
    padding: 30px;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}
.ButtonDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.ButtonDiv > button {
    justify-self: center;
    align-self: center;
    width: 50px;
    height: 30px;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.ButtonDiv > button:hover {
    box-shadow: var(--boxShadowHover);
}
.popupMenuQuestionImageParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.popupMenuQuestionImageParent > div{
    justify-self: center;
    align-self: center;
}