 /*     ######################################      body     ##########################################     */
 :root {
    --firstColor: #ffffff;
    --secondColor: #eae6e4;
    --boxShadow: 3px 3px 3px gray;
}
body {
    background: var(--secondColor);
}
.container {    
    display: grid;
    min-height: 100vh;
    grid-template-rows: 60px 1fr 200px;   
    max-width: 1000px;
    margin: auto; 
    background: var(--firstColor);    
}

/*     ######################################      header    ##########################################     */
header {
    display: grid;
    align-content: center;
    border-bottom: 2px solid gray;
    box-shadow: var(--boxShadow);  
    max-width: 1000px;
}
header > div{
    display: grid;
    grid-template-columns: 160px 1fr 120px;
    align-content: center;
    gap: 15px;
    padding: 10px 20px;
}
.logo {
    height: 40px;
    align-content: center;
    display: grid;
    grid-template-columns: 40px 1fr;
    margin: auto 0;
}
.logo > :nth-child(1) {
    height: 35px;
    width: 35px;
}
.logo > :nth-child(2) {
    height: 20px;
    width: 100px;
    margin: auto 5px;
}
#searchProduct {
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 10px;
}
.headerBtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 10px;
}
.headerBtn > a {
    display: block;
    height: 30px;
    width: 30px;
}
.shopping_cart {
    display: block;
    height: 30px;
    width: 30px;            
    background: url(../img/shopping-trolley--v2.png);
    background-size: 100% 100%;
    transition: .3s;
}
.shopping_cart:hover {
    background: url(../img/shopping-trolley--v3.png);
    background-size: 100% 100%;
}
.favorites {
    display: block;
    height: 30px;
    width: 30px;            
    background: url(../img/hearts.png);
    background-size: 100% 100%;
    transition: .3s;
}
.favorites:hover {
    background: url(../img/hearts\ \(1\).png);
    background-size: 100% 100%;
}
.guest {
    display: block;
    height: 30px;
    width: 30px;            
    background: url(../img/guest-male--v1.png);
    background-size: 100% 100%;
    transition: .3s;
}
.guest:hover {
    background: url(../img/guest-male--v2.png);
    background-size: 100% 100%;
}

/*     ######################################      footer    ##########################################     */
footer {
    display: grid;
    align-content: center;
    border-top: 2px solid gray; 
}

footer > :nth-child(1){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    gap: 15px;
    padding: 10px 20px;
    margin: 10px 0;
}
footer > :nth-child(2){
    display: grid;
    justify-content: center;
    margin-top: 20px;
    border-top: 2px solid gray;
    padding-top: 10px;
}
/* стили кнопок соцсетей */
.viber {
    background: url(../img/viber\ \(2\).png);
    display: block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.viber:hover {
    background: url(../img/viber\ \(3\).png);
    background-size: 100% 100%;            /* растянуть рисунок */
    width: 50px;
    height: 50px;
}
.vk {
    background: url(../img/vk-circled.png);
    display: block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.vk:hover {
    background: url(../img/vk-circled\ \(1\).png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}

.telegram {
    background: url(../img/telegram1.png);
    display: block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.telegram:hover {
    background: url(../img/telegram2.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}
.footerCol1, .footerCol2 {
    display: grid;
    gap: 5px;
    text-decoration: none;
}
.footerCol1 > a, .footerCol2 > a {
    color: gray;
}
.footerCol3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 0;
}

/*     ######################################      sidebar    ##########################################     */
.sidebar {
    display: grid;
    align-content: start;
    gap: 10px;
    margin: 15px 0 0 20px;
}
.btnSidebar {
    display: grid;
    grid-template-columns: 30px 1fr;
    background: var(--firstColor);
    border: none;
    justify-items: start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    width: 95%;
}
.btnSidebar:hover {
    box-shadow: 0 0 3px gray;
    color: #888585;
    
}
.btnSidebar > div {
    margin-left: 5px;
}
.sidebarMicroImage {
    height: 20px;
    width: 30px;
}

/*     ######################################      crockery.php    ##########################################     */
.article {
    display: grid;
    grid-template-columns: 200px 1fr;  
    max-width: 1000px;
}
.crockeryContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    padding: 25px;
    gap: 15px;
}
.crockeryCard {
    justify-self: center;
}
.crockeryImg {
    height: 350px;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}
.crockeryText {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    font-style: italic;
}

/*     ######################################      main.php    ##########################################     */
#mainContent {
    display: grid;
    margin-top: 15px;
}
.mainImgParentDiv {
    display: grid;
    align-content: center;
    justify-content: center;
}
.mainImgParentDiv > img {
    width: 95%;
    justify-self: start;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}
.mainTextDiv_0 {
    width: 95%;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #656565;
}
.mainCardParentDiv {
    width: 95%;
    display: grid;
    gap: 15px;
    margin: 20px 0;
}
.mainCardParentDiv > div {
    display: grid;
}  
.mainCardParentDiv > :nth-child(odd) {
    grid-template-columns: 1.5fr 1fr;
}
.mainCardParentDiv > :nth-child(even) {
    grid-template-columns: 1fr 1.5fr;
}
.mainTextDiv {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #656565;
}
.mainImg {
    width: 100%;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
}
.imgOpacity {
    transition: 1.5s;
    opacity: 0;
}

/*     ######################################      signup.php    ##########################################     */
#signupContent {
    display: grid;
    align-content: center;
    justify-content: center;
}
#formSignup {
    display: grid;
    gap: 10px;
    width: 300px;
}
#formSignup > input {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.passwordDiv {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr .1fr;
}
.passwordDiv > input {
    border: none;
    background: none;
    width: 95%;
    height: 100%;
}
#formSignup > a {
    justify-self: center;
}
#formSignup > input:hover {
    box-shadow: 1px 1px 1px gray;
}
#formSignup > .passwordDiv:hover {
    box-shadow: 1px 1px 1px gray;
}
.eyeBtn {
    width: 20px;
    overflow: hidden;
    display: grid;
    align-content: center;
}
.eyeBtn > img{
    width: 100%;
}
.capsLock {
    color: green;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
    height: 22px;
}
.capsLock > span {
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
}
/*     ######################################      login.php    ##########################################     */
#formLogin {
    display: grid;
    gap: 10px;
    width: 300px;
}
#formLogin > input {
    padding-left: 15px;    
    height: 30px;
    justify-content: center;
    margin: auto 0;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}

#formLogin > a {
    justify-self: center;
}
#formLogin > input:hover {
    box-shadow: 1px 1px 1px gray;
}
#formLogin > .passwordDiv:hover {
    box-shadow: 1px 1px 1px gray;
}
.capsLock {
    color: green;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
    height: 22px;
}
.capsLock > span {
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: start;
    margin: 0 auto;
}



